section {
    background-color: #f8f8f8;
    height: 100%;
}
.card {
    flex-direction: row;
}

.card-container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.card-c {
    margin-bottom: 20px;
    max-height: 400px;
    flex-wrap: wrap;
}
.utensils-i {
    color: #84947B;
    width: 30px;
}
.title {
    color: #84947B;
    padding-top: 20px;
}
.line {
    color: #84947B;
    background-color: #84947B;
    height: 1.5px;
    max-width: 92%;
    border-color : #84947B;
}

.img-recipe {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-recipe-container{
    display: flex;
    flex-direction: row;

}

.admin {
    text-align: left;
}
.tiara {
    width: 18px;
    color: #EFB810;
    margin-left: 5px;
    margin-bottom: 2px;
}
.date {
    text-align: left;
    margin-top: 0;
}
.name-recipes {
    text-align: left;
}
.p-recipes {
    text-align: justify;
}
.line-space {
    top: 20px;
    position: relative;
    margin-bottom: 20px;
}
.likes {
    display: flex;
    justify-content: space-between;
}
.heart {
    margin-top: 4px;
    max-width: 30px;
    margin-right: 5px;
    color: #ED0E0E;
}
.button-recipes {
    margin-top: 30px;
    margin-bottom: 30px;
    border-color: #84947B;
    color: #84947B;
}

.page-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
.pagination {
    color: #84947B;
}
.page-item a {
    color: #84947B;
}
.page-item.active .page-link {
    color: white;
    background-color: #84947B;
    border-color: #84947B;
}




@media only screen and (min-width: 280px) and (max-width: 767px) {

    .card-c {
       flex-wrap: nowrap;
    }

    .page-container {
        display: none;
    }

    .form-container {
        margin-left: 15px;
        margin-right: 15px;
    }

}